<a
  {...Astro.props}
  target="_blank"
  rel="noopener noreferrer"
  class="text-blue-muted hover:text-gray-light border border-blue-muted bg-gray-light hover:bg-blue-muted
focus:ring-4 focus:outline-none focus:ring-gray-light font-medium rounded-lg text-sm px-4 py-2.5 flex items-center gap-3
text-center dark:bg-inherit dark:border-[2px] dark:border-white/20 dark:text-lavender-light dark:hover:text-white dark:hover:border-white dark:focus:ring-blue-muted/60"
>
  <slot />
</a>
