---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro." description="Información sobre Joaquín Cardoso">
  <main>
    <section class="w-full mx-auto lg:w-[600px] py-36">
      <h2>ABOUT ME</h2>
    </section>
  </main>
</Layout>

<style></style>
