---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Experience from "../components/Experience.astro";
import BriefcaseIcon from "../icons/Briefcase.astro";
import Footer from "../components/Footer.astro";
---

<Layout
  title="Portfolio de Joaquin Cardoso - Desarrollador Web"
  description="Portfolio de Joaquin Cardoso desarrollador web fullstack, con título de analista de sistemas"
>
  <main class="px-4">
    <section class="w-full mx-auto lg:w-[600px] pt-32 pb-28">
      <Hero />
    </section>

    <section id="experience" class="w-full mx-auto lg:w-[600px] pb-28">
      <h2 class="text-2xl font-semibold mb-5 flex gap-2 items-center">
        <BriefcaseIcon class="size-6" />
        Experiencia laboral
      </h2>
      <Experience />
    </section>


  </main>
  <Footer />
</Layout>

<style></style>
