---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import LinkedInIcon from "../icons/LinkedIn.astro";
import GitHubIcon from "../icons/GitHub.astro";
import SocialPill from "../icons/SocialPill.astro";
import MailIcon from "../icons/Mail.astro";
import Experience from "../components/Experience.astro";
---

<Layout
  title="Portfolio de Joaquin Cardoso - Desarrollador Web"
  description="Portfolio de Joaquin Cardoso desarrollador web fullstack, con título de analista de sistemas"
>
  <main>
    <section class="w-full mx-auto lg:w-[600px] pt-32 pb-28">
      <h1
        class="text-white text-5xl font-bold flex flex-row gap-x-4 h-[64px] mb-2"
      >
        Joaquín
        <div class="flex justify-center items-center">
          <Badge>Disponible para trabajar</Badge>
        </div>
      </h1>
      <h2 class="text-xl opacity-80 text-wrap">
        Analista de Sistemas y Desarrollador Web FullStack.
        <br />
        Tengo 26 años, soy de Buenos Aires, Argentina.
      </h2>
      <div class="flex gap-3 mt-5">
        <SocialPill href="https://linkedin.com/">
          <LinkedInIcon class="size-6" />
          LinkedIn
        </SocialPill>

        <SocialPill href="https://github.com/">
          <GitHubIcon class="size-6" />
          GitHub
        </SocialPill>

        <SocialPill href="https://github.com/">
          <MailIcon class="size-6" />
          joaquincardoso@gmail.com
        </SocialPill>
      </div>
    </section>

    <section class="w-full mx-auto lg:w-[600px] pb-28">
      <h2 class="text-2xl font-semibold mb-5">Experiencia laboral</h2>
      <Experience />
    </section>
  </main>
</Layout>

<style></style>
