---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Experience from "../components/Experience.astro";
import BriefcaseIcon from "../icons/Briefcase.astro";
import CodeIcon from "../icons/Code.astro";
import Projects from "../components/Projects.astro";
import Skills from "../components/Skills.astro";
import SkillIcon from "../icons/Skill.astro";
import Contact from "../components/Contact.astro";
import MailIcon from "../icons/Mail.astro";
---

<Layout
  title="Portfolio de Joaquin Cardoso - Desarrollador Web"
  description="Portfolio de Joaquin Cardoso desarrollador web fullstack, con título de analista de sistemas"
>
  <main class="px-4">
    <section class="w-full mx-auto lg:w-[850px] lg:pt-52 lg:pb-20 pt-20 pb-10">
      <Hero />
    </section>

    <section id="experience" class="w-full mx-auto lg:w-[850px] pt-16 md:pt-20">
      <h2 class="text-2xl font-semibold mb-5 flex gap-2 items-center">
        <BriefcaseIcon class="size-6" />
        Experiencia
      </h2>
      <Experience />
    </section>

    <section id="skills" class="w-full mx-auto lg:w-[850px] pt-16 md:pt-20">
      <h2 class="text-2xl font-semibold mb-5 flex gap-2 items-center">
        <SkillIcon />
        Skills
      </h2>
      <Skills />
    </section>

    <section id="projects" class="w-full mx-auto lg:w-[850px] pt-16 md:py-20">
      <h2 class="text-2xl font-semibold mb-5 flex gap-2 items-center">
        <CodeIcon class="size-6" />
        Proyectos
      </h2>
      <Projects />
    </section>

    <section id="contact" class="w-full mx-auto lg:w-[850px] pt-16 md:pt-20">
      <h2 class="text-2xl font-semibold mb-5 flex gap-2 items-center">
        <MailIcon class="size-6 mt-[3px]" />
        Contact
      </h2>
      <Contact />
    </section>
  </main>

  <style></style>
</Layout>
