---
import SocialPill from "../icons/SocialPill.astro";
import MailIcon from "../icons/Mail.astro";
---

<div class="flex justify-center md:p-4">
  <div class="w-full max-w-[16rem]">
    <div class="relative">
      <input
        id="contact-input"
        type="text"
        class="col-span-6 border border-gray-300 text-gray-500 text-sm rounded-lg block w-full p-2.5 dark:border-gray-600 dark:text-gray-400 bg-inherit"
        value="joaquincardoso1922@gmail.com"
        disabled
        readonly
      />
      <button
        id="copy-btn"
        class="absolute end-2 top-1/2 -translate-y-1/2 text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 rounded-lg p-2 inline-flex items-center justify-center"
      >
        <span id="default-icon">
          <svg
            class="w-3.5 h-3.5"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 18 20"
          >
            <path
              d="M16 1h-3.278A1.992 1.992 0 0 0 11 0H7a1.993 1.993 0 0 0-1.722 1H2a2 2 0 0 0-2 2v15a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2Zm-3 14H5a1 1 0 0 1 0-2h8a1 1 0 0 1 0 2Zm0-4H5a1 1 0 0 1 0-2h8a1 1 0 1 1 0 2Zm0-5H5a1 1 0 0 1 0-2h2V2h4v2h2a1 1 0 1 1 0 2Z"
            ></path>
          </svg>
        </span>
        <span id="success-icon" class="hidden items-center">
          <svg
            class="w-3.5 h-3.5 text-blue-700 dark:text-blue-500"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 16 12"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M1 5.917 5.724 10.5 15 1.5"></path>
          </svg>
        </span>

        <!-- Tooltip que aparece al hacer hover -->
        <span
          id="tooltip-text"
          class="absolute -top-9 left-1/2 -translate-x-1/2 text-xs font-medium px-2 py-1 dark:bg-gray-700 dark:text-white rounded-lg opacity-0 transition-opacity duration-200 copy-tooltip
          bg-gray-200"
        >
          Copiar
        </span>
      </button>
    </div>
  </div>
  <!-- poner el boton de enviar aca-->
  <a
    href="mailto:joaquincardoso1922@gmail.com"
    class="py-2 px-5 ml-2 focus:outline-none rounded-lg border border-gray-200 hover:bg-gray-900/90 hover:text-white focus:z-10 focus:ring-4 text-gray-500 focus:ring-gray-100 dark:focus:ring-gray-700 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
    ><MailIcon class="size-6" /></a
  >
</div>

<script>
  document.getElementById("copy-btn").addEventListener("click", () => {
    const $ = (el) => document.getElementById(el);
    const input = document.getElementById("contact-input") as HTMLInputElement;
    const textToCopy = input.value;

    navigator.clipboard
      .writeText(textToCopy)
      .then(() => {
        $("default-icon").classList.add("hidden");
        $("success-icon").classList.remove("hidden");

        // Cambiar el texto del tooltip a "¡Copiado!" y hacerlo visible
        $("tooltip-text").textContent = "¡Copiado!";
        $("tooltip-text").classList.add("opacity-100");
        $("tooltip-text").classList.remove("opacity-0");

        setTimeout(() => {
          $("default-icon").classList.remove("hidden");
          $("success-icon").classList.add("hidden");

          // Restaurar el texto del tooltip a "Copiar" después de un tiempo
          $("tooltip-text").textContent = "Copiar";
          $("tooltip-text").classList.remove("opacity-100");
          $("tooltip-text").classList.add("opacity-0");
        }, 3000);
      })
      .catch((err) => {
        console.error("Error al copiar el contenido:", err);
      });
  });

  // Mostrar tooltip al hacer hover
  const copyBtn = document.getElementById("copy-btn");
  copyBtn.addEventListener("mouseenter", () => {
    document.getElementById("tooltip-text").classList.add("opacity-100");
    document.getElementById("tooltip-text").classList.remove("opacity-0");
  });
  copyBtn.addEventListener("mouseleave", () => {
    document.getElementById("tooltip-text").classList.remove("opacity-100");
    document.getElementById("tooltip-text").classList.add("opacity-0");
  });
</script>
