<footer class="bg-white/5 rounded-lg shadow dark:bg-black/5 w-full mx-auto">
  <div
    class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between"
  >
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400"
      >© 2024 Joaquin Cardoso
    </span>
    <ul
      class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0"
    >
      <li>
        <a href="#top" class="hover:underline me-4 md:me-6">Inicio</a>
      </li>
      <li>
        <a
          href="https://joaquin-cardoso-cv.onrender.com/"
          target="_blank"
          rel="noopener noreferrer"
          class="hover:underline me-4 md:me-6">CV</a
        >
      </li>
      <li>
        <a
          href="https://www.linkedin.com/in/joaquin-cardoso-9a0ab1286/"
          target="_blank"
          rel="noopener noreferrer"
          class="hover:underline me-4 md:me-6">LinkedIn</a
        >
      </li>
      <li>
        <a href="mailto:joaquincardoso2219@gmail.com" class="hover:underline"
          >Contacto</a
        >
      </li>
    </ul>
  </div>
</footer>
