---

---

<header
  class="flex gap-2 justify-center md:justify-between items-center flex-wrap py-5 w-full sm:w-[600px] md:w-[700px] lg:w-[920px] xl:w-[1120px] mx-auto"
>
  <img
    src="https://avatars.githubusercontent.com/u/90669163?v=4"
    alt="joaquin photo"
    class="rounded-full size-12"
  />
  <nav class="flex flex-row flex-wrap justify-center gap-x-10 opacity-80">
    <a href="/#top">Inicio</a>
    <a href="/#experience">Experiencia</a>
    <a href="/#projects">Proyectos</a>
    <a href="mailto:joaquincardoso2219@gmail.com">Contacto</a>
  </nav>
</header>
