<header
  class="flex justify-center xl:justify-between lg:justify-evenly items-center flex-wrap py-6 w-full xl:w-[1120px]"
>
  <img
    src="https://avatars.githubusercontent.com/u/90669163?v=4"
    alt="joaquin photo"
    class="rounded-full size-12"
  />
  <nav class="flex flex-row flex-wrap justify-center gap-x-10 opacity-80">
    <a href="/#top">Inicio</a>
    <a href="/#about">Sobre mí</a>
    <a href="/#experience">Experiencia</a>
    <a href="/#projects">Proyectos</a>
    <a href="/#contact">Contacto</a>
  </nav>
</header>
