---
import Sidebar from "./Sidebar.astro";
import ToggleTheme from "./ToggleTheme.astro";
---

<header
  class="fixed top-0 left-0 right-0 w-full mx-auto backdrop-blur-lg transition-all duration-300 z-50"
>
  <div
    class="w-full sm:w-[600px] md:w-[700px] lg:w-[900px] xl:w-[1050px] mx-auto"
  >
    <!-- Encabezado para pantallas más grandes -->
    <div
      class="gap-2 justify-center md:justify-between items-center flex-wrap py-5 hidden md:flex"
    >
      <div
        class="relative inline-flex items-center justify-center size-9 overflow-hidden bg-blue-gray/10 rounded-full dark:bg-blue-muted"
      >
        <span class="font-medium text-blue-muted dark:text-lavender-light"
          >JC</span
        >
      </div>
      <nav class="flex flex-row flex-wrap justify-center gap-x-10 opacity-95">
        <a href="/#top">Inicio</a>
        <a href="/#experience">Experiencia</a>
        <a href="/#projects">Proyectos</a>
        <a href="/#contact">Contacto</a>
        <ToggleTheme />
      </nav>
    </div>

    <!-- Encabezado para pantallas más pequeñas -->
    <div class="md:hidden">
      <Sidebar />
    </div>
  </div>
</header>

<script>
  let lastScrollTop = 0;
  const header = document.querySelector("header"); // Asegúrate de que tu header tiene una etiqueta 'header'

  window.addEventListener("scroll", () => {
    let scrollTop = window.pageYOffset || document.documentElement.scrollTop;
    if (scrollTop > lastScrollTop) {
      // Scroll hacia abajo - oculta el header
      header.style.top = "-100px"; // Ajusta el valor según el tamaño de tu header
    } else {
      // Scroll hacia arriba - muestra el header
      header.style.top = "0";
    }
    lastScrollTop = scrollTop;
  });
</script>
