---
import Badge from "../components/Badge.astro";
import LinkedInIcon from "../icons/LinkedIn.astro";
import GitHubIcon from "../icons/GitHub.astro";
import SocialPill from "../icons/SocialPill.astro";
import MailIcon from "../icons/Mail.astro";
import CvIcon from "../icons/Cv.astro";
---

<h1 class= "text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 h-[64px] mb-2">
  Joaquín
  <div class="flex justify-center items-center">
    <Badge>Disponible para trabajar</Badge>
  </div>
</h1>
<h2 class="text-xl opacity-80 text-wrap max-w[700px]">
  Analista de Sistemas y Desarrollador Web FullStack.
  <br />
  Tengo 26 años, soy de Buenos Aires, Argentina.
</h2>
<div class="flex gap-3 mt-5 flex-wrap">
  <SocialPill href="https://www.linkedin.com/in/joaquin-cardoso-9a0ab1286/">
    <LinkedInIcon class="size-5" />
    LinkedIn
  </SocialPill>

  <SocialPill href="https://github.com/joa1907">
    <GitHubIcon class="size-6" />
    GitHub
  </SocialPill>

  <SocialPill href="mailto:joaquincardoso2219@gmail.com">
    <MailIcon class="size-6" />
    joaquincardoso2219@gmail.com
  </SocialPill>

  <SocialPill href="">
    <CvIcon class="size-6" />
    Descargar CV
  </SocialPill>
</div>
