---
import Badge from "../components/Badge.astro";
import LinkedInIcon from "../icons/LinkedIn.astro";
import GitHubIcon from "../icons/GitHub.astro";
import SocialPill from "../icons/SocialPill.astro";
import MailIcon from "../icons/Mail.astro";
import CvIcon from "../icons/Cv.astro";
---

<div class="flex flex-col-reverse gap-8 md:gap-0 md:flex-row items-center">
  <div class="flex flex-col md:flex-1">
    <h1
      class="text-4xl lg:text-5xl font-bold flex flex-row flex-wrap gap-x-4 h-[64px]"
    >
      Joaquín
      <div class="flex md:items-center items-start md:p-0 py-4">
        <Badge>Disponible para trabajar</Badge>
      </div>
    </h1>
    <h2 class="text-xl opacity-80 text-wrap max-w-[700px]">
      Analista de Sistemas y Desarrollador Web
      <br />
      26 años, de Buenos Aires, Argentina.
    </h2>
    <p class="text-md opacity-70 text-wrap max-w-[700px]">
      joaquincardoso2219@gmail.com
    </p>
    <div class="flex gap-3 mt-5 flex-wrap max-w-[500px]">
      <SocialPill href="https://www.linkedin.com/in/joaquincardoso19/">
        <LinkedInIcon class="size-5" />
        LinkedIn
      </SocialPill>

      <SocialPill href="https://github.com/joa1907">
        <GitHubIcon class="size-6" />
        GitHub
      </SocialPill>

      <SocialPill href="mailto:joaquincardoso2219@gmail.com">
        <MailIcon class="size-6" />
        Email
      </SocialPill>

      <SocialPill href="https://joaquin-cardoso-cv.onrender.com/">
        <CvIcon class="size-6" />
        Descargar CV
      </SocialPill>
    </div>
  </div>
  <div class="flex justify-center w-[100%] md:w-auto">
    <img
      src="img-joaquin.jfif"
      alt="Foto de Joaquin Cardoso"
      class="rounded-full md:rounded size-32 md:size-52"
    />
  </div>
</div>
