---
import MenuIcon from "../icons/Menu.astro";
---

<div class="p-4 flex gap-4 items-center">
  <button
    id="drawer-button"
    class="dark:text-gray-light text-blue-muted font-medium rounded-lg text-sm"
    type="button"
  >
    <MenuIcon />
  </button>
  <h4 class="font-medium">Portfolio de Joaquín Cardoso</h4>
</div>

<div
  id="drawer-navigation"
  class="fixed top-0 left-0 z-50 w-full h-screen p-4 overflow-y-auto transition-transform transform -translate-x-full bg-gray-light dark:bg-zinc-950"
  tabindex="-1"
  aria-labelledby="drawer-navigation-label"
>
  <div class="flex justify-between">
    <h5
      id="drawer-navigation-label"
      class="text-base font-semibold text-blue-muted uppercase dark:text-lavender-light p-3"
    >
      Menu
    </h5>
    <button
      id="drawer-close"
      type="button"
      class="text-blue-muted bg-transparent p-3 hover:bg-gray-light hover:text-gray-900 rounded-lg text-sm items-center dark:hover:bg-gray-700/30 dark:hover:text-white"
    >
      <svg
        aria-hidden="true"
        class="w-5 h-5"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
          clip-rule="evenodd"></path>
      </svg>
      <span class="sr-only">Close menu</span>
    </button>
  </div>

  <div class="py-4 overflow-y-auto">
    <ul class="space-y-2 text-xl font-medium pt-8">
      <li class="flex justify-center flex-1 py-3">
        <a
          href="/#"
          class="drawer-link flex w-[50%] justify-center p-2 text-dark-color rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700/30 group"
        >
          <span class="">Inicio</span>
        </a>
      </li>
      <li class="flex justify-center flex-1 py-3">
        <a
          href="/#experience"
          class="drawer-link flex w-[50%] justify-center p-2 text-dark-color rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700/30 group"
        >
          <span class="">Experiencia</span>
        </a>
      </li>
      <li class="flex justify-center flex-1 py-3">
        <a
          href="/#skills"
          class="drawer-link flex w-[50%] justify-center p-2 text-dark-color rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700/30 group"
        >
          <span class="">Skills</span>
        </a>
      </li>
      <li class="flex justify-center flex-1 py-3">
        <a
          href="/#projects"
          class="drawer-link flex w-[50%] justify-center p-2 text-dark-color rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700/30 group"
        >
          <span class="">Proyectos</span>
        </a>
      </li>
      <li class="flex justify-center flex-1 py-3">
        <a
          href="mailto:joaquincardoso2219@gmail.com"
          class="drawer-link flex w-[50%] justify-center p-2 text-dark-color rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700/30 group"
        >
          <span class="">Contacto</span>
        </a>
      </li>
    </ul>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const drawerButton = document.getElementById("drawer-button");
      const drawerNavigation = document.getElementById("drawer-navigation");
      const drawerClose = document.getElementById("drawer-close");
      const drawerLinks = document.querySelectorAll(".drawer-link");
      const body = document.body;

      if (drawerButton && drawerNavigation && drawerClose) {
        drawerButton.addEventListener("click", () => {
          drawerNavigation.classList.toggle("-translate-x-full");
          if (!drawerNavigation.classList.contains("-translate-x-full")) {
            body.style.overflow = "hidden";
          } else {
            body.style.overflow = "";
          }
        });

        drawerClose.addEventListener("click", () => {
          drawerNavigation.classList.add("-translate-x-full");
          body.style.overflow = "";
        });

        drawerLinks.forEach((link) => {
          link.addEventListener("click", () => {
            drawerNavigation.classList.add("-translate-x-full");
            body.style.overflow = "";
          });
        });
      }
    });
  </script>
</div>
