---
import SkillPill from "../components/SkillPill.astro";
import { SKILLS } from "../types/skills";
---

<div
  class="sm:flex flex-wrap grid gap-4 px-2 sm:px-0 justify-items-center grid-cols-[repeat(auto-fit,minmax(144px,1fr))]"
>
  {SKILLS.map((skill) => <SkillPill skillName={skill.name} />)}
</div>
