---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
  description: string;
}

const { description, title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style is:global>
  :root {
    color-scheme: light dark;
    --purple-dark: #774473;
    --blue-dark: #2d3284;
    --dark-color: #3a425c;
    --blue-muted: #455078;
    --blue-gray: #6b74a3;
    --lavender-light: #ece3f8;
    --gray-muted: #ddd1dd;
    --pink-light: #f3e7eb;
    --gray-light: #f6f4f7;
  }

  html {
    font-family: system-ui, sans-serif;
    scroll-behavior: smooth;
  }

  body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: #fcfcfc;
    background: -webkit-linear-gradient(to right, #fafafa, #fbf4ff);
    background: linear-gradient(to right, #fafafa, #fbf4ff);
    @apply text-black; /* Modo claro por defecto */
  }

  /* Para el modo oscuro usando la clase dark de Tailwind */
  .dark body {
    background: #000000;
    background: -webkit-linear-gradient(to right, #050405, #030007);
    background: linear-gradient(to right, #050405, #030007);
    @apply text-white; /* Modo oscuro cuando se agrega la clase dark */
  }

  h1 {
    color: var(--blue-muted);
  }

  h2 {
    color: var(--blue-muted);
  }

  h3 {
    color: var(--purple-dark);
  }

  h4,
  p {
    color: var(--dark-color);
  }

  .dark {
    h1,
    a {
      color: var(--gray-light);
    }
    h2 {
      color: var(--pink-light);
    }
    h3 {
      color: var(--lavender-light);
    }
    h4,
    p {
      color: var(--gray-muted);
    }
  }

  a {
    color: var(--dark-color);
    font-weight: 500;
    &:hover {
      color: var(--purple-dark);
    }
  }

  .dark a {
    color: var(--lavender-light);
  }
  .dark a:hover {
    color: var(--gray-light);
  }
  @media (max-width: 768px) {
    html {
      scroll-behavior: auto;
    }
  }
</style>
