---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Sidebar from "../components/Sidebar.astro";

interface Props {
  title: string;
  description: string;
}

const { description, title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-indigo-50 dark:bg-slate-900">
    <Header />
    <!-- <header>
      <Sidebar />
    </header> -->
    <slot />
    <Footer />
  </body>
</html>

<style is:global>
  :root {
    color-scheme: light dark;
  }
  html {
    font-family: system-ui, sans-serif;
    scroll-behavior: smooth;
  }
  body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: #fcfcfc;
    background: -webkit-linear-gradient(to right, #fff, #fdfdfd);
    background: linear-gradient(to right, #fff, #fdfdfd);
  }

  @media (prefers-color-scheme: dark) {
    body {
      background: #000000;
      background: -webkit-linear-gradient(to right, #131313, #050505);
      background: linear-gradient(to right, #131313, #050505);
    }
  }
</style>
