---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
  description: string;
}

const { description, title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
      <div class="dark:hidden fixed inset-0 -z-10 h-full w-full bg-white bg-[linear-gradient(to_right,#8080800a_1px,transparent_1px),linear-gradient(to_bottom,#8080800a_1px,transparent_1px)] bg-[size:14px_24px]"><div class="absolute left-0 right-0 top-0 -z-10 m-auto h-[310px] w-[310px] rounded-full bg-fuchsia-400 opacity-20 blur-[100px]"></div></div>
      <div class="fixed hidden dark:block inset-0 -z-10 h-full w-full bg-black bg-[linear-gradient(to_right,#8080800a_1px,transparent_1px),linear-gradient(to_bottom,#8080800a_1px,transparent_1px)] bg-[size:14px_24px]"><div class="absolute left-0 right-0 top-0 -z-10 m-auto h-[310px] w-[310px] rounded-full bg-fuchsia-400 opacity-20 blur-[100px]"></div></div>
    <slot />
    <Footer />
  </body>
</html>

<style is:global>
  :root {
    color-scheme: light dark;
    --purple-dark: #774473;
    --blue-dark: #2d3284;
    --dark-color: #3a425c;
    --blue-muted: #455078;
    --blue-gray: #6b74a3;
    --lavender-light: #ece3f8;
    --gray-muted: #ddd1dd;
    --pink-light: #f3e7eb;
    --gray-light: #f6f4f7;
  }

  html {
    font-family: system-ui, sans-serif;
    scroll-behavior: smooth;
  }

  body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #fcfcfc;
    background: -webkit-linear-gradient(135deg, #f6f4f7, #e7ebff);
    background: linear-gradient(135deg, #fafafa 33%, #fafaff 66%, #f8f9ff 100%);
    background-size: cover;
    background-repeat: repeat;
    background-position: top;
    @apply text-black;
  }

  /* Para el modo oscuro usando la clase dark de Tailwind */
  .dark body {
    background: #000000;
    background: -webkit-linear-gradient(to right, #050405, #030007);
    background: linear-gradient(to right, #050405, #030007);
    @apply text-white;
  }

  h1 {
    color: var(--blue-muted);
  }

  h2 {
    color: var(--blue-muted);
  }

  h3 {
    color: var(--purple-dark);
  }

  h4,
  p {
    color: var(--dark-color);
  }

  .dark {
    h1,
    a {
      color: var(--gray-light);
    }
    h2 {
      color: var(--pink-light);
    }
    h3 {
      color: var(--lavender-light);
    }
    h4,
    p {
      color: var(--gray-muted);
    }
  }

  a {
    color: var(--dark-color);
    font-weight: 500;
    &:hover {
      color: var(--purple-dark);
    }
  }

  .dark a {
    color: var(--lavender-light);
  }
  .dark a:hover {
    color: var(--gray-light);
  }
  @media (max-width: 768px) {
    html {
      scroll-behavior: auto;
    }
  }
</style>
